In [75]:
import pandas as pd
import os

In [76]:
directory = r'C:\Users\tdickens\OneDrive - Hydrogen Technology and Engineering Corporation\Active Customers\ARC Zen SW\04 WIP\TD\raw_data\roam'

data = []
for csv in os.listdir(directory):
    frame = pd.read_csv("{}\{}" .format(directory,csv))
    frame['filename'] = os.path.basename(csv)
    data.append(frame)
roam_df = pd.concat(data, ignore_index=True)

In [77]:
roam_df['Bus ID'] = roam_df['filename'].str.split().apply(lambda x:x[1].split(".")[0])
roam_df['Date'] = roam_df['filename'].str.split().apply(lambda x:x[0])
r_df = roam_df.drop(roam_df[roam_df['Latitude'] == (-1)].index)

In [78]:
dropped_rows = roam_df.shape[0] - r_df.shape[0]
print("Rows dropped:\n{}" .format(dropped_rows))

Rows dropped:
1879

In [79]:
r_df.to_csv("../raw_data/block_db_lists/roam.csv", index=False)

In [93]:
df = pd.read_csv('../raw_data/block_db_lists/roam_elev.csv')
df.drop(columns=['Driver ID', 'Route ID', 'Heading', 'Stop ID'], inplace=True)
df['filename'] = df['Bus ID'] + " " + df['Date']
df['Speed'] = df['Speed'] * 3.6
df.rename(columns={'SAMPLE_1':'Elevation'}, inplace=True)
df['DateTime'] = df['Time']
df['DateTime'] = pd.to_datetime(df['DateTime'])
df.head()

,Bus ID,Latitude,Longitude,Speed,Time,filename,Date,Elevation,DateTime
0,1033_SummerWolf,51.19189,-115.55418,5.076,2022/03/15 05:42:46,1033_SummerWolf 2022/03/15,2022/03/15,1401,2022-03-15 05:42:46
1,1033_SummerWolf,51.19189,-115.55420,5.292,2022/03/15 05:42:47,1033_SummerWolf 2022/03/15,2022/03/15,1401,2022-03-15 05:42:47
2,1033_SummerWolf,51.19187,-115.55427,5.148,2022/03/15 05:42:49,1033_SummerWolf 2022/03/15,2022/03/15,1401,2022-03-15 05:42:49
3,1033_SummerWolf,51.19187,-115.55430,3.132,2022/03/15 05:42:50,1033_SummerWolf 2022/03/15,2022/03/15,1401,2022-03-15 05:42:50
4,1033_SummerWolf,51.19187,-115.55431,2.448,2022/03/15 05:42:51,1033_SummerWolf 2022/03/15,2022/03/15,1401,2022-03-15 05:42:51

In [102]:
blocks = df['filename'].unique().tolist()

df_dict = {block: df.loc[df['filename'] == block] for block in blocks}
df_dict

{'1030_Hare 2022/03/15':           Bus ID  Latitude  Longitude  Speed                 Time  \
 33288  1030_Hare  51.19143 -115.55373  0.972  2022/03/15 06:02:31
 33289  1030_Hare  51.19139 -115.55367  0.396  2022/03/15 06:02:32
 33290  1030_Hare  51.19137 -115.55368  0.684  2022/03/15 06:02:33
 33291  1030_Hare  51.19135 -115.55368  1.584  2022/03/15 06:02:35
 33292  1030_Hare  51.19137 -115.55372  1.044  2022/03/15 06:02:36
 ...          ...       ...        ...    ...                  ...
 35477  1030_Hare  51.17955 -115.56992  0.036  2022/03/15 06:46:44
 35478  1030_Hare  51.17956 -115.56992  0.072  2022/03/15 06:46:45
 35479  1030_Hare  51.17956 -115.56993  0.036  2022/03/15 06:46:47
 35480  1030_Hare  51.17956 -115.56993  0.036  2022/03/15 06:46:48
 35481  1030_Hare  51.17956 -115.56993  0.036  2022/03/15 06:46:49

                    filename        Date  Elevation            DateTime
 33288  1030_Hare 2022/03/15  2022/03/15       1401 2022-03-15 06:02:31
 33289  1030_Hare 2022/03/15  2022/03/15       1401 2022-03-15 06:02:32
 33290  1030_Hare 2022/03/15  2022/03/15       1401 2022-03-15 06:02:33
 33291  1030_Hare 2022/03/15  2022/03/15       1401 2022-03-15 06:02:35
 33292  1030_Hare 2022/03/15  2022/03/15       1401 2022-03-15 06:02:36
 ...                     ...         ...        ...                 ...
 35477  1030_Hare 2022/03/15  2022/03/15       1402 2022-03-15 06:46:44
 35478  1030_Hare 2022/03/15  2022/03/15       1402 2022-03-15 06:46:45
 35479  1030_Hare 2022/03/15  2022/03/15       1402 2022-03-15 06:46:47
 35480  1030_Hare 2022/03/15  2022/03/15       1402 2022-03-15 06:46:48
 35481  1030_Hare 2022/03/15  2022/03/15       1402 2022-03-15 06:46:49

 [2194 rows x 9 columns]}

In [106]:
for df in df_dict.values():
   init_time = pd.to_datetime(df.loc[0, 'Time'])
   df['Time'] = ((df['DateTime']) - init_time) / pd.Timedelta( seconds=1)

KeyError: 0